<h1>These are all the favorited pokemon</h1>

<% pokemons.forEach(pokemon=> { %>
    <div>
        <h3><%= pokemon.name %></h3>

        <form action="/pokemons/<%=pokemon.name%>" method="GET">
            <input type="submit" value="More Information">
        </form>
    </div>
<% }) %> 
